body {
  margin: 0;
  overflow-x: hidden;
}
.projects-pg{
    width:100%;
    min-height:100vh;
    display: flex;
    flex-direction: column;
    gap:30px;
    align-items: center;
    justify-content:flex-start;
    /* background-color: rgb(11, 11, 43); */
    /* overflow: hidden;
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url("https://images.unsplash.com/photo-1574610758891-5b809b6e6e2e?fm=jpg&q=60&w=3000&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover; */
    /* background: linear-gradient(180deg, #e66b6b, #c768a0); */
    background: linear-gradient(
        135deg,
        rgb(253, 158, 176),
        rgb(236, 146, 130),
        rgb(185, 92, 125)
        );
    }
.projects{
    display:block;
    /* transform: translateY(100px); */
    margin-top: 100px;
}
.projects h2{
    font-size: 40px;
    width:100vw;
    display: flex;
    justify-content: center;
    color:#5a3d3d;
    font-family: "Outfit",serif;
}
.proj-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

